@if (isConnectedData$ | async; as isConnectedData) {
    @if (!isConnectedData.isConnected) {
    <div class="relative w-full p-4 mb-4 text-white rounded-lg bg-emerald-500">
        <span class="py-2">Vous n'êtes pas connecté à Spotify.</span>
        <a (click)="connect()" class="px-2 underline cursor-pointer">Se connecter à Spotify</a>
    </div>
    }
}
@if (playlists$ | async; as playlists) {
<div>
    <div
        class="relative w-full min-w-0 mb-0 break-words bg-white border-0 border-transparent border-solid shadow-xl rounded-2xl bg-clip-border">
        <div class="flex">
            <div class="w-64 flex-1 p-6 pb-0 mb-0 bg-white rounded-t-2xl">
                <h6>Mes playlists Spotify</h6>
            </div>
            @if (isConnectedData$ |async; as isConnectedData) {
                @if (isConnectedData.isConnected) {
                <div class="w-32 flex-1 p-6">
                    <div (click)="getPlaylistsFromSpotify()"
                        class="float-right animate-bounce text-green-400 cursor-pointer">
                        Refresh
                        <img src="./assets/img/small-logos/logo-spotify.svg"
                            class="inline-flex text-white bg-white h-9 w-9 max-w-none rounded-xl" />
                    </div>
                </div>
                }
            }
        </div>
        <div class="flex-auto px-0 pt-0 pb-2">
            <div class="p-0 overflow-x-auto">
                <!-- Put the table here -->
                @if (playlists.length > 0) {
                <app-playlist-table [playlists]="playlists"></app-playlist-table>
                }
            </div>
        </div>
    </div>
</div>
} @else {
<div class="w-full p-4 my-5 mx-2 bg-white rounded-xl shadow-lg">
    <app-table-placeholder></app-table-placeholder>
</div>
}