<!-- <form (ngSubmit)="onSubmit()"> -->
    <!-- <div class="row"> -->
        <!-- <mat-form-field class="col-md-12"> -->
        <!-- <mat-label>Mail</mat-label> -->
        <!-- <input matInput [(ngModel)]="user.mail" placeholder="user@mail.com" -->
        <!-- [formControl]="mailFC" id="mail" name="mail" required> -->
        <!-- <mat-error *ngIf="mailFC.invalid">{{ getMailErrorMessage() }}</mat-error> -->
        <!-- </mat-form-field> -->
        <!-- <mat-form-field class="col-md-12"> -->
        <!-- <mat-label>Mot de passe</mat-label> -->
        <!-- <input matInput [(ngModel)]="user.password" [formControl]="passwordFC" -->
        <!-- [type]="hidePassword ? 'password' : 'text'" name="password" -->
        <!-- required> -->
        <!-- <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" class="hide-icon-button" -->
            <!-- [attr.aria-label]="'Cacher mot de passe'"> -->
            <!-- <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon> -->
        <!-- </button> -->
        <!-- <mat-error *ngIf="passwordFC.invalid">{{ getPasswordErrorMessage() }}</mat-error> -->
        <!-- </mat-form-field> -->
        <!-- <button mat-button color="primary" type="submit" [disabled]="!loginForm.valid">Se connecter</button> -->
    <!-- </div> -->
<!-- </form> -->
<!-- <div class=""> -->
    <!-- <div class=""> -->
        <!-- <p class="">/ -->
            <!-- <small>Nouvel utilisateur ? </small> -->
            <!-- <a routerLink="/create-user">Créer mon compte</a> -->
        <!-- </p> -->
    <!-- </div> -->
<!-- </div> -->

<div
    class="flex flex-col w-full mt-6 md:w-1/2 xl:w-2/5 2xl:w-3/5 3xl:w-1/3 mx-auto p-8 md:p-10 2xl:p-12 3xl:p-14 bg-[#ffffff] rounded-2xl shadow-xl">
    <div class="flex flex-row gap-3 pb-4">
        <div>
            <img src="/favicon.svg" width="50" alt="Logo">
        </div>
        <h1 class="text-3xl font-bold text-[#4B5563] text-[#4B5563] my-auto">Streaming Platform Migrator</h1>
    </div>
    <div class="text-sm font-light text-[#6B7280] pb-8 ">Connectez-vous pour accéder aux services.</div>
    <form [formGroup]="loginForm" (submit)="onSubmit()" class="flex flex-col">
        <div class="pb-2">
            <label for="email" class="block mb-2 text-sm font-medium text-[#111827]">Email</label>
            <div [formGroup]="loginForm" class="relative text-gray-400">
                <span class="absolute inset-y-0 left-0 flex items-center p-1 pl-3"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-mail">
                        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                    </svg>
                </span>
                <input formControlName="mail" type="email" name="email" id="email"
                    class="pl-12 mb-2 bg-gray-50 text-gray-600 border focus:border-transparent border-gray-300 sm:text-sm rounded-lg ring ring-transparent focus:ring-1 focus:outline-none focus:ring-gray-400 block w-full p-2.5 rounded-l-lg py-3 px-4"
                    [class.border-red-600]="mailFC.touched && mailFC.invalid" placeholder="Votre email">
                </div>
        </div>
        <div class="pb-6">
            <label for="password" class="block mb-2 text-sm font-medium text-[#111827]">Mot de passe</label>
            <div [formGroup]="loginForm" class="relative text-gray-400"><span class="absolute inset-y-0 left-0 flex items-center p-1 pl-3"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-square-asterisk">
                        <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                        <path d="M12 8v8"></path>
                        <path d="m8.5 14 7-4"></path>
                        <path d="m8.5 10 7 4"></path>
                    </svg></span>
                <input formControlName="password" type="password" name="password" id="password" placeholder="••••••••••"
                    class="pl-12 mb-2 bg-gray-50 text-gray-600 border focus:border-transparent border-gray-300 sm:text-sm rounded-lg ring ring-transparent focus:ring-1 focus:outline-none focus:ring-gray-400 block w-full p-2.5 rounded-l-lg py-3 px-4"
                    [class.border-red-600]="passwordFC.touched && passwordFC.invalid" autocomplete="new-password">
            </div>
        </div>
        <button type="submit" class="w-full text-[#FFFFFF] bg-[#4F46E5] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-6"
            [class.bg-slate-400]="!loginForm.valid"
            >Se connecter</button>
        <div class="text-sm font-light text-[#6B7280] ">
            Nouveau ici?
            <a href="#"class="font-medium text-[#4F46E5] hover:underline">
                Créer un compte
            </a>
        </div>
    </form>
</div>