/* You can add global styles to this file, and also import other style files */
.bg-gradient {
    background: rgb(99,102,241);
    background: linear-gradient(90deg, rgba(99,102,241,1) 0%, rgba(118,0,227,1) 100%);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

// Scrollbar thin
::-webkit-scrollbar {
    // use thin rule
    width: 9px;
}