@if (!isHeaderLoaded) {
<app-card-placeholder></app-card-placeholder>
<app-card-placeholder></app-card-placeholder>
} @else {
<div class="flex">
    <div class="p-2 mx-2 rounded-xl shadow-md w-2/3 bg-gray-50">
        <div class="bg-gray-50">
            <div class="p-2 space-x-4 sm:px-8">
                <!-- <div class="flex-shrink-0 w-16 h-16 rounded-full bg-gray-300"></div> -->
                <div class="py-2">
                    <div class="flex flex-row">
                        <div class="flex-shrink-0 basis-1/4 w-8 h-full overflow-hidden">
                            <img src="{{ playlist.imageUrl }}" alt="{{ playlist.name }}"
                                class="object-cover w-full h-full" />
                        </div>
                        <div class="basis-2/3">
                            <div class="w-10 px-2 inline-block">
                                @switch (playlist.platform.name) {
                                @case ('Spotify') {
                                <img src="./../../../../assets/img/small-logos/logo-spotify.svg" alt="Spotify"
                                    class="inline-flex items-center justify-center mr-4 text-sm text-white h-9 w-9 max-w-none rounded-xl" />
                                }
                                }
                            </div>
                            <div class="w-20 px-2 inline-block">
                                <span class="px-2 py-1 text-xs font-semibold text-white bg-green-500 rounded-full">{{
                                    playlist.public ? 'Publique' : 'Privée' }}</span>
                            </div>
                            <div class="w-32 inline-block rounded-t-2xl">
                                <h6>{{ playlist.name }}</h6>
                            </div>
                            <div class="w-full px-4"><span class="font-extralight">
                                    {{ playlist.description }}
                                </span></div>
                            <div class="w-full px-4"><span class="font-light">Nombre de morceaux : </span>
                                {{ playlist.tracksNumber }}</div>
                            <div class="w-full px-4"> <span class="font-light">Top artistes : </span>
                                <!-- Show top 3 of artists array with most counter -->
                                @for (artist of topArtists; track $index) {
                                <span>{{ artist }} </span>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2 mx-2 rounded-xl shadow-md w-1/3 bg-gray-50">
        <div class="bg-gray-50">
            <a [href]="playlist.externalUrl" target="_blank"
                class="inline-block px-8 py-2 text-xs font-semibold text-center text-blue-500 uppercase align-middle transition-all ease-in bg-transparent border border-blue-500 border-solid rounded-lg shadow-none cursor-pointer active:opacity-85 leading-pro tracking-tight-rem bg-150 bg-x-25 hover:scale-102 active:shadow-xs hover:text-blue-500 hover:opacity-75 hover:shadow-none active:scale-100 active:border-blue-500 active:bg-blue-500 active:text-white hover:active:border-blue-500 hover:active:bg-transparent hover:active:text-blue-500 hover:active:opacity-75">
                Ouvrir sur {{ playlist.platform.name }}
            </a>
            <div class="font-semibold leading-tight mb-0 text-xs">
                <button
                    class="inline-block px-8 py-2 text-xs font-semibold text-center text-blue-500 uppercase align-middle transition-all ease-in bg-transparent border border-blue-500 border-solid rounded-lg shadow-none cursor-pointer active:opacity-85 leading-pro tracking-tight-rem bg-150 bg-x-25 hover:scale-102 active:shadow-xs hover:text-blue-500 hover:opacity-75 hover:shadow-none active:scale-100 active:border-blue-500 active:bg-blue-500 active:text-white hover:active:border-blue-500 hover:active:bg-transparent hover:active:text-blue-500 hover:active:opacity-75">
                    Modifier la playlist
                </button>
            </div>
            <div class="font-semibold leading-tight mb-0 text-xs">
                <button
                    class="inline-block px-8 py-2 text-xs font-semibold text-center text-blue-500 uppercase align-middle transition-all ease-in bg-transparent border border-blue-500 border-solid rounded-lg shadow-none cursor-pointer active:opacity-85 leading-pro tracking-tight-rem bg-150 bg-x-25 hover:scale-102 active:shadow-xs hover:text-blue-500 hover:opacity-75 hover:shadow-none active:scale-100 active:border-blue-500 active:bg-blue-500 active:text-white hover:active:border-blue-500 hover:active:bg-transparent hover:active:text-blue-500 hover:active:opacity-75">
                    Supprimer les doublons
                </button>
            </div>
            <div class="font-semibold leading-tight mb-0 text-xs">
                <button
                    class="inline-block px-8 py-2 text-xs font-semibold text-center text-blue-500 uppercase align-middle transition-all ease-in bg-transparent border border-blue-500 border-solid rounded-lg shadow-none cursor-pointer active:opacity-85 leading-pro tracking-tight-rem bg-150 bg-x-25 hover:scale-102 active:shadow-xs hover:text-blue-500 hover:opacity-75 hover:shadow-none active:scale-100 active:border-blue-500 active:bg-blue-500 active:text-white hover:active:border-blue-500 hover:active:bg-transparent hover:active:text-blue-500 hover:active:opacity-75">
                    Exporter la playlist
                </button>
            </div>
            <!-- <div class="flex p-4 space-x-4 sm:px-8">
                <div class="flex-shrink-0 w-16 h-16 rounded-full bg-gray-300"></div>
                <div class="flex-1 py-2 space-y-4">
                    <div class="w-full h-3 rounded bg-gray-300"></div>
                    <div class="w-5/6 h-3 rounded bg-gray-300"></div>
                </div>
            </div>
            <div class="p-4 space-y-4 sm:px-8">
                <div class="w-full h-4 rounded bg-gray-300"></div>
                <div class="w-full h-4 rounded bg-gray-300"></div>
                <div class="w-3/4 h-4 rounded bg-gray-300"></div>
            </div> -->
        </div>
    </div>
</div>
}
<div class="mt-2 mx-2">
    <div
        class="relative w-full min-w-0 mb-0 break-words bg-white border-0 border-transparent border-solid shadow-xl rounded-2xl bg-clip-border">

        <div class="flex-auto px-0 pt-0 pb-2">
            <div class="p-0 overflow-x-auto">
                <!-- Put the table here -->
                @if (!isTracksLoaded) {
                <app-table-placeholder></app-table-placeholder>
                } @else {
                <app-simple-table [columns]="columns" [data]="playlistTracks" [rowsPerPage]="10">
                    <!-- [actionLabel]="'Syncrhoniser'" (actionClicked)="onRowAction($event)" -->
                </app-simple-table>
                }
            </div>
        </div>
    </div>
</div>